.info-container {
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.card {
    text-align: center;
    padding: 10px;
    overflow: hidden;
    width: 360px;
    height: auto;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.2);
}


img {
   width: 100%;
   height: 380px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text-container {
    padding: 2px 16px;
}

.card-title {
    padding: 8px 0;
    font-weight: bolder;
}

.card-desc {
    display: flex;
    justify-content: start;
}

small {
    margin-bottom: 16px;
    font-size: 0.9rem;
}
span {
    font-weight: bolder;
    margin-right: 5px;
}